# Python virtual environment
venv/

# Byte-compiled / cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Videos (or any large media)
mma_fighter_analysis/Videos/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db
